body {
    padding: 0;
    margin: 0;
}

.container {
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
}

.conteudo {
    background-color: #ddd;
    border: 5px solid green;
    padding: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
}

.square2 {
    width: 140px;
    height: 140px;
    background-color: yellow;
}

.square3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
    box-sizing: border-box; /* com essa propriedade o tamanho do elemento sempre respeitará a borda*/
}